In [1]:
import ast 
import pandas as pd
import seaborn as sns
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

df["job_posted_data"] = pd.to_datetime(df["job_posted_date"])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [2]:
df_DA_PL = df[(df["job_title"] == "Data Analyst") & (df["job_country"] == "Poland")].copy()

In [3]:
df_DA_PL["job_posted_month_no"] = df_DA_PL["job_posted_data"].dt.month

In [4]:
df_DA_PL_explode = df_DA_PL.explode("job_skills")

In [5]:
df_DA_PL_pivot = df_DA_PL_explode.pivot_table(index="job_posted_month_no", columns='job_skills', aggfunc='size', fill_value=0)
df_DA_PL_pivot.loc['Total'] = df_DA_PL_pivot.sum()
df_DA_PL_pivot = df_DA_PL_pivot[df_DA_PL_pivot.loc['Total'].sort_values(ascending=False).index]
df_DA_PL_pivot = df_DA_PL_pivot.drop('Total')

In [6]:
dA_totals = df_DA_PL.groupby("job_posted_month_no").size()

In [7]:
df_DA_PL_percent = df_DA_PL_pivot.div(dA_totals, axis=0)

In [8]:
df_DA_PL_percent

job_skills,sql,python,excel,tableau,power bi,azure,r,aws,gcp,sas,...,atlassian,angular,ggplot2,flask,gitlab,jquery,react,powerbi,plotly,unix
job_posted_month_no,,,,,,,,,,,,,,,,,,,,,
1,0.805556,0.444444,0.458333,0.444444,0.166667,0.111111,0.152778,0.097222,0.069444,0.055556,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013889
2,0.739726,0.506849,0.438356,0.246575,0.205479,0.136986,0.219178,0.054795,0.041096,0.109589,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.579710,0.463768,0.536232,0.434783,0.304348,0.130435,0.260870,0.101449,0.057971,0.086957,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014493,0.000000
4,0.666667,0.400000,0.300000,0.433333,0.266667,0.200000,0.066667,0.266667,0.200000,0.000000,...,0.000000,0.000000,0.016667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.630435,0.521739,0.413043,0.260870,0.195652,0.217391,0.108696,0.217391,0.152174,0.043478,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.680000,0.480000,0.560000,0.240000,0.160000,0.040000,0.120000,0.080000,0.000000,0.160000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.837838,0.621622,0.378378,0.270270,0.351351,0.081081,0.135135,0.054054,0.054054,0.162162,...,0.000000,0.000000,0.000000,0.000000,0.027027,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.735294,0.411765,0.617647,0.176471,0.294118,0.176471,0.117647,0.000000,0.058824,0.058824,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029412,0.000000,0.000000
9,0.833333,0.750000,0.416667,0.333333,0.166667,0.125000,0.041667,0.041667,0.000000,0.083333,...,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.823529,0.588235,0.500000,0.294118,0.205882,0.176471,0.176471,0.088235,0.029412,0.000000,...,0.000000,0.029412,0.000000,0.029412,0.000000,0.029412,0.029412,0.000000,0.000000,0.000000
11,0.580645,0.516129,0.322581,0.290323,0.225806,0.290323,0.064516,0.258065,0.096774,0.129032,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.531250,0.281250,0.312500,0.312500,0.093750,0.156250,0.093750,0.031250,0.062500,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000